<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servidor con Express y Socket.io</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- <h1>Working!</h1>
  <p id="text"></p>
  <p id="salute-text"></p>
  <button id="emit-to-server">Presióname</button>
  <button id="emit-to-last">Saluda al último conectado🙄</button> -->

<!-- Circle -->
 <div id="circle"></div>


 <!-- Salas -->
 <!-- <ul id="room1" class="room"></ul>
 <ul id="room2" class="room"></ul>
 <ul id="room3" class="room"></ul>

 <button id="connectRoom1">Room 1</button>
 <button id="connectRoom2">Room 2</button>
 <button id="connectRoom3">Room 3</button>

 <br>

 <button id="sendMessage">Enviar Mensaje</button> -->


  <!-- Namespaces -->
 <!-- <h1>Chat de <span id="namespace"></span></h1>

 <ul id="chat"></ul>

 <button id="sendMessage">Enviar mensaje</button> -->

 <!-- Offline -->
 <!-- <button id="send">Send to all connected clients</button>
 <button id="disconnect">Disconnect</button>
 <button id="reconnect">Reconnect</button> -->

 <!-- Middleware -->
 <!-- <h1>Aplicación en tiempo real</h1> -->

  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="/js/index.js"></script> -->
  <script src="/js/circle.js"></script>
  <!-- <script src="/js/rooms.js"></script> -->
  <!-- <script src="/js/namespaces.js"></script> -->
  <!-- <script src="/js/offline.js"></script> -->
  <!-- <script src="/js/middleware.js"></script> -->
</body>
</html>